{
  "useDevelopmentStorage": false,
  "connectionString": "DefaultEndpointsProtocol=https;AccountName=samifilespoc;AccountKey=aFxqHu8rDDc3hVaPoyFvbC6LLFwIpY816LryBr0hIOmQiSe56c/j88tpvuwjqn1vNbRzXGkGhHrEpFPEP693SQ==;EndpointSuffix=core.windows.net",
  "accountName": "samifilespoc",
  "accountKey": "aFxqHu8rDDc3hVaPoyFvbC6LLFwIpY816LryBr0hIOmQiSe56c/j88tpvuwjqn1vNbRzXGkGhHrEpFPEP693SQ==",
  "sas": ""
}
